<!DOCTYPE html>
<html lang="en-US" class="w-full h-max">

<head>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <title>Water softener | whole house water filtration system Brita Pro FL</title>
  <meta name="description" content="Elevate water quality in Central Florida with Brita Pro FL. Whole-house filtration for impeccable results. You can taste the difference!">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Water softener | whole house water filtration system Brita Pro FL">
  <meta property="og:url" content="https://britaprofl.com/">
  <meta property="og:description" content="Elevate water quality in Central Florida with Brita Pro FL. Whole-house filtration for impeccable results. You can taste the difference!">
  <meta property="og:site_name" content="Water softener | whole house water filtration system Brita Pro FL">
  <meta property="article:publisher" content="https://www.facebook.com/britaprocentralflorida/">
  <meta property="article:modified_time" content="2023-09-20T19:23:13+00:00">
  <meta property="og:image" content="/assets/thumbnail.png">
  <meta property="og:image:width" content="0">
  <meta property="og:image:height" content="0">
  <meta property="og:image:type" content="image/png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@britaprocentralflorida">
  <link rel="apple-touch-icon" href="/assets/logo.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="canonical" href="https://britaprofl.com/">
  <link rel="shortlink" href="https://britaprofl.com/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="twitter:data1" content="0 minutes">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/reset.css">
</head>

<body class="w-full h-max relative font-general overflow-x-clip">
  <%- include('partials/nav.ejs') %>
  <main class="w-full relative bg-[#ebebeb]">
    <section class="w-full relative font-satoshi"> <!-- Landing Section-->
      <img src="/assets/brita-pro.webp" class="select-none w-full object-cover origin-right max-h-screen" alt="brita pro advanced water softener">
      <div class="text-white font-general flex flex-col gap-6 p-16 absolute h-max w-full left-0 top-1/2 -translate-y-1/2 ">
        <h1 class="text-[60px] font-medium">Water filtration done<br>properly with Brita Pro</h1>
        <p class="text-[14.5px]">Clean, pure, great-tasting water is just a few steps away. Contact a partner today.</p>
        <button aria-label="Get Free Quote" class="w-max border-[1.8px] flex items-center rounded-full border-white border-solid">
        <span class="p-[10px] py-[3.5px] font-medium text-[14.5px]">Get a free quote</span>
          <div class="w-6 h-6 bg-white rounded-full ml-0 flex justify-center items-center m-[2.7px]">
            <img src="/assets/right-arrow.svg" loading="lazy" class="w-full p-[5.5px] box-border" alt="right arrow">
          </div>
        </button>
      </div>
    </section>
    <section class="w-full relative leading-[1.15rem] bg-[#ebebeb] p-global box-border font-satoshi flex flex-col"> <!-- Testimonials Section-->
      <div class="w-full h-max mb-8 text-center">
        <h2 class="text-5xl text-light-blue font-medium mb-3 font-satoshi">Testimonials</h2>
      </div>
      <div class="w-full grid gap-6 text-[15px] grid-cols-testimonials-desktop grid-rows-testimonials-desktop grid-areas-testimonials-desktop">
        <div class="testimonial grid-in-test1">
          <div class="flex w-max h-8 gap-2">
            <img src="/assets/pfp1.png" class="h-full object-contain rounded-full" alt="image of product review">
            <div class="flex flex-col justify-center items-center w-max gap-1">
              <h3 class="font-medium text-light-blue">Peter Nguyen</h3>
            </div>
          </div>
          <p class="text-[#868686] text-left text-[14.5px]">We moved from California to Florida. Our water there was definitely hard. And when we came here it was just as bad if not worse. Brita pro knocked at the door and offered to test our water. We almost said no bc we had a Rainsoft system yet to be hooked up . We didn’t realize all the bacteria that was In the system we brought with us .. we put</p>
        </div>
        <div class="testimonial grid-in-test2">
          <div class="flex w-max h-8 gap-2">
            <img src="/assets/pfp2.png" class="h-full object-contain rounded-full" alt="image of product review">
            <div class="flex flex-col justify-center items-center w-max gap-1">
              <h3 class="font-medium text-light-blue">Yuliya Ori</h3>
            </div>
          </div>
          <p class="text-[#868686] text-left text-[14.5px]">Thank you Andrew for high professional service provided! We are extremely happy with the product and it’s quality!</p>
        </div>
        <div class="testimonial grid-in-test3">
          <div class="flex w-max h-8 gap-2">
            <img src="/assets/pfp3.png" class="h-full object-contain rounded-full" alt="image of product review">
            <div class="flex flex-col justify-center items-center w-max gap-[2px]">
              <h3 class="font-medium text-light-blue">Maria Velez</h3>
            </div>
          </div>
          <p class="text-[#868686] text-left text-[14.5px]">I live in palm bay and I moved my family from west palm beach. the water is so much different with only a few short miles. I noticed my skin started drying out and i was having very bad irritations. my daughters noticed issues with their hair. Brita pro came to our door and william livingston was their rep, the system was installed and since the last 9 months our water has been unbelievable. i havent had to use moisturizer on my skin and not many can say that regarding the quality of water, and my daughters do not complain and thats</p>
        </div>
        <div class="testimonial grid-in-test4">
          <div class="flex w-max h-8 gap-2">
            <img src="/assets/pfp4.png" class="h-full object-contain rounded-full" alt="image of product review">
            <div class="flex flex-col justify-center items-center w-max gap-1">
              <h3 class="font-medium text-light-blue">Jamie Smith</h3>
            </div>
          </div>
          <p class="text-[#868686] text-left text-[14.5px]">Will Woodward is one in a million. Not only is he prompt at following through, he strives to provide the best customer service around. If you need assistance- ask for Will:)</p>
        </div>
        <div class="testimonial grid-in-test5">
          <div class="flex w-max h-8 gap-2">
            <img src="/assets/pfp5.png" class="h-full object-contain rounded-full" alt="image of product review">
            <div class="flex flex-col justify-center items-center w-max gap-1">
              <h3 class="font-medium text-light-blue">Ronjon Jon</h3>
            </div>
          </div>
          <p class="text-[#868686] text-left text-[14.5px]">First, Diego was a very nice person. He had us sold when he said that my Harley wouldn't have any spots on it after washing it, and he didn't lie. Made my son's Mazda look amazing also. And my truck looks Great!.. We couldn't believe the difference. They washed and dryed with no spots. Yes, I recommend this to anyone. Our cafe</p>
        </div>
      </div>
    </section>
    <section class="bg-[#f6f6f6] leading-[1.15rem] w-full relative p-global box-border flex flex-col"> <!-- Services Section-->
      <div class="w-full h-max mb-12 text-center flex flex-col items-center">
        <h2 class="text-5xl text-light-blue font-medium mb-3 font-satoshi">Services</h2>
        <p class="text-[#868686] text-[14.5px] w-[60%]">Installation of Water Softeners, Filtration Systems, Iron Filters, and Reverse Osmosis. Get Superior Water Quality Solutions. Inquire Now for Transparent Pricing and Customized Options.</p>
      </div>
      <div class="flex gap-12 w-full h-max justify-center">
        <div class="card" aria-label="Get Free Quote">
          <div class="card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
              <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
            </svg>
          </div>
        </div>
        <div class="card" aria-label="Get Free Quote">
          <div class="card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
              <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
            </svg>
          </div>
        </div>
        <div class="card" aria-label="Get Free Quote">
          <div class="card__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
              <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full relative leading-[1.15rem] bg-[#ebebeb] p-global box-border font-satoshi flex flex-col"> <!-- Testimonials Section-->
      <div class="w-full h-max mb-12 text-center flex flex-col items-center">
        <h2 class="text-5xl text-[#353535] font-medium mb-3 font-satoshi">Discounts</h2>
        <p class="text-[#868686] text-[14.5px] w-[60%]">We will work with you to try to make this trasition as affordable for you and your family as possible.</p>
      </div>
    </section>
    <section class="bg-[#f6f6f6] leading-[1.15rem] w-full relative p-global gap-4 box-border flex"> <!-- Help Section-->
      <div class="w-[55%] flex flex-col gap-4">
        <div class="h-max w-full flex flex-col gap-5">
          <h2 class="text-5xl text-light-blue font-medium font-satoshi">We are here to help</h2>
          <p class="text-[#868686] text-[14.5px] w-[90%] ml-6 box-border">We understand that a big step like this for your home and your loved ones can be challenging and we are here to help you every step of the way.</p>
        </div>
        <div class="ml-6 box-border h-max w-full flex flex-col gap-1">
          <p class="font-semibold text-[14.5px] text-[#636363]">Our support services include:</p>
          <ul class="text-[#868686] ml-6 box-border text-[14.5px]">
            <li class="box-border">Step by step updates</li>
            <li class="box-border">Education on installment</li>
            <li class="box-border">24/7 Support</li>
            <li class="box-border">Assistence post-installation</li>
          </ul>
        </div>
        <p class="text-[#868686] text-[14.5px] w-[90%] ml-6 box-border mb-3">Contact us today to learn more about our support services and to find out about our support services and to find out about how we can help you.</p>
        <button aria-label="Get Free Quote" class="w-max border-[1.8px] flex items-center rounded-full border-light-blue border-solid">
          <span class="p-[10px] py-[3.5px] font-medium text-light-blue text-[14.5px]">Get a free quote</span>
          <div class="w-6 h-6 bg-light-blue rounded-full ml-0 flex justify-center items-center m-[2.7px]">
            <img src="/assets/right-arrow.svg" loading="lazy" class="w-full p-[5.5px] box-border saturate-0 brightness-0 invert" alt="right arrow">
          </div>
        </button>
      </div>
      <div class="w-[45%]">
        <img src="/assets/sink.webp" class="rounded-2xl -left-4 top-4 object-cover w-full h-full" style="border: 1.5px solid white; box-shadow:  20px 20px 60px #a2a2a2, -20px -20px 60px #ffffff;" alt="family using sink">
      </div>
    </section>
    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
  </main>
  <link href="https://api.fontshare.com/v2/css?f[]=general-sans@1,2&display=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"></script>
  <script src="/js/index.js" type="module"></script>
</body>

</html>