<footer class="bg-[rgb(142,155,180)] w-auto relative px-global font-normal text-white">
  <div class="w-auto pt-16 max-[500px]:pt-8">
    <div class="flex max-[600px]:flex-col max-[600px]:gap-6 justify-between max-[500px]:items-center pb-16 max-[600px]:pb-10 max-[500px]:pb-8">
      <div class="flex max-[600px]:items-center gap-20 max-[850px]:flex-col max-[600px]:w-full max-[500px]:w-max max-[850px]:gap-8 max-[600px]:gap-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 logo cursor-pointer" fill="#fff" id="a" viewBox="0 0 188 27.75">
          <path class="b" d="m165.41,10.84c.7-1.49,1.6-2.77,2.7-3.82,1.1-1.06,2.33-1.87,3.69-2.45,1.36-.57,2.69-.86,4-.86,1.4,0,2.79.28,4.16.84,1.37.56,2.59,1.36,3.66,2.4,1.07,1.04,1.93,2.3,2.59,3.78.66,1.48.99,3.15.99,5.01,0,1.62-.31,3.16-.93,4.62-.62,1.46-1.45,2.74-2.5,3.84-1.05,1.1-2.26,1.97-3.63,2.61-1.37.64-2.82.96-4.35.96s-2.95-.31-4.33-.92c-1.38-.62-2.6-1.46-3.64-2.53-1.05-1.07-1.89-2.33-2.52-3.78-.63-1.45-.95-3.01-.95-4.7,0-1.84.35-3.5,1.05-4.99Zm4.29,10.58c.24,1.48.63,2.66,1.14,3.53.52.88,1.19,1.49,2.01,1.83.82.35,1.8.52,2.94.52,1.5,0,2.68-.3,3.54-.89.85-.59,1.49-1.41,1.92-2.46.43-1.05.7-2.29.81-3.73.11-1.44.17-3,.17-4.68,0-1.51-.05-2.95-.14-4.33-.09-1.37-.35-2.58-.78-3.63-.43-1.05-1.07-1.88-1.94-2.5-.86-.62-2.06-.92-3.58-.92-1.42,0-2.56.29-3.42.86-.85.57-1.5,1.38-1.95,2.41-.45,1.04-.74,2.27-.88,3.69-.14,1.43-.21,2.99-.21,4.7,0,2.25.12,4.11.37,5.59Z"></path>
          <path class="b" d="m92.71,27.19c2.26-1.22,2.91-3.23,3.86-5.73l6.56-17.46h1.77l6.68,17.71c.98,2.63,1.86,4.24,2.97,5.48h-7.83c.79-1.17,1.03-3.29.11-5.83l-1.08-2.91h-6.98l-.63,1.68c-1.36,3.64-.48,5.92.66,7.06h-6.1Zm9.52-18.21l-3.2,8.77h6.47l-3.28-8.77Z"></path>
          <path class="b" d="m22.49,27.19c1.14-1.34,1.31-3.36,1.31-6.18v-10.83c-.05-3.34-.22-4.78-1.31-6.18h9.23c6.52-.03,8.04,2.63,8.04,5.29,0,2.41-1.2,4.66-4.56,5.67,4.15.7,5.7,3.14,5.7,5.89,0,3.64-2.6,6.33-9.03,6.33h-9.39Zm8.72-12.42c3.17-.03,4.21-2.72,4.21-5.19,0-2.98-1.49-5-4.72-5-.98,0-1.71.1-2.34.25v9.94h2.85Zm4.94,6.11c0-3.1-1.36-5.42-4.72-5.42h-3.07v10.8c.66.16,1.49.29,2.44.29,3.64,0,5.35-2.34,5.35-5.67"></path>
          <path class="b" d="m72.26,10.18c0-2.82.18-4.84,1.31-6.18h-7.19c1.14,1.34,1.31,3.36,1.31,6.18v10.83c0,3.95-.74,4.97-1.57,5.29-1.43.55-3.3.08-4.57-1.43-1.39-1.64-5.03-9.38-5.03-9.38,3.11-1.11,4.44-3.33,4.44-5.89,0-3.36-1.99-5.62-8.49-5.6h-8.93c1.09,1.4,1.26,2.84,1.31,6.18v10.83c0,2.82-.18,4.84-1.31,6.18h7.19c-1.14-1.34-1.31-3.36-1.31-6.18v-4.82h2.39l5.48,11h16.29c-1.09-1.4-1.26-2.84-1.31-6.18v-10.83Zm-20.72,5.35h-2.12V4.79c1.02-.17,1.59-.23,2-.23,3.71,0,4.88,2.21,4.88,5.06,0,3.01-.96,5.89-4.76,5.89"></path>
          <path class="b" d="m95.89,4h-19.38l-1.19,6.43h.12c.05-.13.11-.26.16-.39,1.31-2.89,4.35-4.68,8.31-5.17v16.14c0,2.82-.18,4.84-1.31,6.18h7.19c-1.14-1.34-1.32-3.36-1.32-6.18V4.87c3.96.49,7.01,2.29,8.31,5.17.06.13.11.25.16.39h.12l-1.19-6.43Z"></path>
          <path class="b" d="m20.38,16.08c-.18-3.94-1.85-6.8-4.19-9.82C13.32,2.56,10.19,0,10.19,0c0,0-3.05,2.44-5.98,6.24C1.85,9.3.19,12.14.01,16.08c-.3,6.64,5.24,11.11,10.18,11.11,4.94,0,10.48-4.47,10.18-11.11M4.04,11.58c.11-2.38,1.11-4.1,2.54-5.95,1.77-2.29,3.61-3.77,3.61-3.77,0,0,1.89,1.55,3.62,3.79,1.41,1.83,2.42,3.55,2.53,5.93.18,4.01-3.17,6.71-6.15,6.72-2.99,0-6.33-2.7-6.15-6.72m-1.24,1.88c.02-.41.06-.81.12-1.19.13,4.58,3.9,7.62,7.28,7.62,3.38,0,7.14-3.04,7.27-7.62.06.38.1.77.12,1.18.21,4.81-3.8,8.06-7.4,8.06-3.59,0-7.61-3.26-7.4-8.06m7.4,11.71c-4.2,0-8.9-3.77-8.65-9.44.02-.41.05-.97.11-1.35.01,5.46,4.51,8.95,8.54,8.95,4.03,0,8.52-3.49,8.54-8.95.05.38.09.94.11,1.35.25,5.67-4.45,9.44-8.65,9.44"></path>
          <rect class="b" x="117.92" y="3.95" width=".55" height="23.38"></rect>
          <path class="b" d="m141.61,9.6c0-3.36-1.99-5.62-8.49-5.6h-8.93c1.09,1.4,1.26,2.84,1.31,6.18v10.83c0,2.82-.18,4.84-1.31,6.18h7.19c-1.14-1.34-1.31-3.36-1.31-6.18v-4.82h1.57l1.16-.03.93-.05.88-.07.78-.12.68-.12.83-.19.28-.1s0,0,0,0c3.11-1.11,4.44-3.33,4.44-5.89Zm-9.4,5.93h-2.12V4.79c1.02-.17,1.59-.23,2-.23,3.71,0,4.88,2.21,4.88,5.06,0,3.01-.96,5.89-4.76,5.89Z"></path>
          <path class="b" d="m188,5.5c0,.77-.6,1.37-1.39,1.37s-1.39-.6-1.39-1.37.62-1.35,1.39-1.35,1.39.6,1.39,1.35Zm-2.43,0c0,.6.45,1.08,1.05,1.08s1.03-.48,1.03-1.07-.44-1.09-1.04-1.09-1.05.49-1.05,1.08Zm.83.71h-.31v-1.35c.12-.02.3-.04.52-.04.26,0,.37.04.47.1.07.06.13.16.13.3,0,.15-.12.26-.28.31v.02c.13.05.21.15.25.33.04.21.06.29.1.34h-.34s-.07-.17-.11-.33c-.03-.15-.11-.21-.28-.21h-.15v.54Zm0-.77h.15c.17,0,.31-.06.31-.2,0-.12-.09-.21-.29-.21-.08,0-.14,0-.17.02v.39Z"></path>
          <path class="b" d="m164.77,27.23c-.5-.13-2.09-1.71-2.59-2.31-1.39-1.64-5.03-9.38-5.03-9.38,3.11-1.11,4.44-3.33,4.44-5.89,0-3.36-1.99-5.62-8.49-5.6h-8.93c1.09,1.4,1.26,2.84,1.31,6.18v10.83c0,2.82-.18,4.84-1.31,6.18h7.19c-1.14-1.34-1.31-3.36-1.31-6.18v-4.82h2.39l5.48,11h6.27s.6,0,.6,0h0Zm-12.59-11.65h-2.12V4.84c1.02-.17,1.59-.23,2-.23,3.71,0,4.88,2.21,4.88,5.06,0,3.01-.96,5.89-4.76,5.89Z"></path>
        </svg>
        <div class="text-[15px] max-[600px]:hidden leading-[18px] flex flex-col gap-3">
          <a href="/" class="cursor-pointer max-[600px]:w-full max-[600px]:text-center">Services Area</a>
          <a href="/" class="cursor-pointer max-[600px]:w-full max-[600px]:text-center">Reviews</a>
          <a href="/" class="cursor-pointer max-[600px]:w-full max-[600px]:text-center">Videos</a>
          <a href="/" class="cursor-pointer max-[600px]:w-full max-[600px]:text-center">Blog</a>
          <a href="/" class="cursor-pointer max-[600px]:w-full max-[600px]:text-center">Get a free quote</a>
          <a href="/" class="cursor-pointer max-[600px]:w-full max-[600px]:text-center">Contact</a>
        </div>
      </div>
      <div class="text-sm flex flex-col max-[600px]:hidden items-end max-[600px]:items-start gap-3">
        <a href="mailto:info@britaprofl.com" class="max-[600px]:box-border px-4 py-1 border border-solid border-white border-opacity-[25%] w-max rounded-full text-right max-[600px]:text-left cursor-pointer hover:border-opacity-100">info@britaprofl.com</a>
        <a href="https://goo.gl/maps/hx8sDQDD1Y4GteQ9A" target="_blank" class="max-[600px]:box-border px-4 py-1 border border-solid border-white border-opacity-[25%] w-max rounded-full text-right max-[600px]:text-left cursor-pointer hover:border-opacity-100">1608 N Longwood St, FL 32750</a>
        <a href="tel:407-942-2302" target="_blank" class="max-[600px]:box-border px-4 py-1 border border-solid border-white border-opacity-[25%] w-max rounded-full text-right max-[600px]:text-left cursor-pointer hover:border-opacity-100">(407) 942-2302</a>
      </div>
    </div>
    <div class="w-auto py-8 border-t max-[500px]:flex-col-reverse gap-12 max-[500px]:gap-2 border-solid border-white border-opacity-[30%] max-[500px]:w-full text-sm flex justify-between max-[500px]:items-center font-normal">
      <p class="w-max"><span class="font-medium max-[500px]:text-center">Britaprofl.com </span>© Copyright and private limited.<br class="hidden max-[500px]:block"> All rights reserved.</p>
      <a href="/" class="cursor-pointer w-max max-[500px]:text-left">Terms & Policies</a>
    </div>
  </div>
</footer>